<div class="container">
  <div class="row">
    <div class="col-6" id="col1">
      <h3>Join our Newsletter</h3>
      <p>Subscribe to our newsletter to receive quality health tips and info</p>
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-6" id="col2">
      <img class="pic" src="../../../assets/customer-care/pic-1.jpg" alt="laptop-gym">
    </div>
  </div>
</div>
