<div class="body">
<div class="item-1">
  <carousel [isAnimated]="true">
    <slide>
      <img class="carousel-img" src="../../../assets/Carousel-homepage/pic-5.jpg" alt="first slide">
      <div class="carousel-caption d-none d-md-block">
        <h3>Lift weights Not burden</h3>
      </div>
    </slide>
    <slide>
      <img class="carousel-img" src="../../../assets/Carousel-homepage/pic-3.jpg" alt="second slide" >
      <div class="carousel-caption d-none d-md-block">
        <h3>No Pain No Gain</h3>
      </div>
    </slide>
    <slide>
      <img class="carousel-img" src="../../../assets/Carousel-homepage/pic-2.jpg" alt="third slide" >
      <div class="carousel-caption d-none d-md-block">
        <h3>Consistency is the Key</h3>
      </div>
    </slide>
    <slide>
      <img class="carousel-img" src="../../../assets/Carousel-homepage/pic-1.jpg" alt="third slide" >
      <div class="carousel-caption d-none d-md-block">
        <h3 id="txt">Focus on GOALS, Never Give UP</h3>
      </div>
    </slide>
    <slide>
      <img class="carousel-img" src="../../../assets/Carousel-homepage/pic-4.jpg" alt="third slide" >
      <div class="carousel-caption d-none d-md-block">
        <h3>You make progress everyday</h3>
      </div>
    </slide>
  </carousel>
</div>
</div>
