<div class="container">
  <h2>Choose the Plan That's Right For You</h2>
  <p>Cancel at anytime <span>view <a routerLink="../faq">FAQ's</a></span></p>
  <div class="price-row">
    <div class="price-col">
      <p>Beginner</p>
      <h3>$29<span>.99/ month</span></h3>
      <ul>
        <li>No Diet plan</li>
        <li>Basic warm up</li>
        <li>access to level-1 gym area</li>
        <li>Trainer tips</li>
        <li>free wifi</li>
        <li>upto 8hrs gym access daily</li>
      </ul>
      <button class="btn btn-secondary">select</button>
    </div>
    <div class="price-col">
      <p>swagger</p>
      <h3>$59<span>.99/ month</span></h3>
      <ul>
        <li>Custom Diet plan</li>
        <li>zumba access</li>
        <li>level-2 gym</li>
        <li>protien shakes*</li>
        <li>Access to locker rooms</li>
        <li>Upto 12hrs gym access daily </li>
      </ul>
      <button class="btn btn-secondary">select</button>
    </div>
    <div class="price-col">
      <p>athlete</p>
      <h3>$79<span>.99/ month</span></h3>
      <ul>
        <li>custom Diet</li>
        <li>Personal trainer</li>
        <li>alevel-3 gym</li>
        <li>Pool access</li>
        <li>access to personal locker</li>
        <li>upto 18hrs access daily</li>
      </ul>
      <button class="btn btn-secondary">select</button>
    </div>
    <div class="price-col">
      <p>gymson</p>
      <h3>$99<span>.99/ month</span></h3>
      <ul>
        <li>0 fat Diet plan</li>
        <li>Cafeteria</li>
        <li>Personal coach</li>
        <li>Pro training</li>
        <li>Offer to join gym as trainer</li>
        <li>special key access to gym</li>
      </ul>
      <button class="btn btn-secondary">select</button>
    </div>
  </div>
</div>
